@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --wwhite: #eaeaea;
    --wblack: #2e2e2e;
    --hover: #fc8f50;
    --orange: #fc5f00;
    --i: 1;
}

* {
    margin: 0;
    padding: 0;
    color: var(--wwhite);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--wblack);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: var(--wblack);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap;
    box-shadow: 0 10px 10px var(--wblack);
}

.logo{
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    color: var(--orange);
    opacity: 0;
    animation: slideRight .8s ease forwards;
}

.logo:hover{
    color: var(--hover);
}


.navbar{
    animation: slideRight .8s ease forwards;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px; 
    transition: 1.5s;
    animation: slideRight 1s ease forwards;
}

.navbar a:hover,
.navbar a.active {
    color: var(--hover);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: bolder;
    margin: -3px, 0;
    opacity: 0;
    animation: slideRight .8s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    font-size: 32px;
    font-weight: bold;
    opacity: 0;
    animation: slideH .8s ease forwards;
    animation-delay: calc(.7s * var(--i));
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h3 span{
    font-size: 32px;
    font-weight: bold;
    color: var(--orange)
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft .8s ease forwards;
    animation-delay: 1s;
}

.home-img img{
    max-width: 450px;
    margin-right: -40px;
    animation: scale .7s ease-in-out forwards;
}

.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    box-shadow: 0 0 5px var(--hover);
    border-radius: 50%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--orange);
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .8s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.social-media a:hover{
    background: var(--orange);
    color: var(--wblack);
    box-shadow: 0 0 5px var(--hover);
}

.btn{
    background: var(--orange);
    display: inline-block;
    padding: 12px 28px;
    border-radius: 40px;
    font-size: 16px;
    color: var(--wwhite);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .7s ease-in-out forwards;
    animation-delay: 1.2s;
}

.btn:hover{
    background: var(--wblack);
    box-shadow: 0 0 5px var(--hover);
}

/* MODALS */
.modal {
    display: none; 
    position: fixed; 
    z-index: 101; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.9); 
  }
  
  .modal-content {
    background-color: var(--wblack);
    margin: auto;
    padding: 60px;
    border: 1px solid var(--hover);
    border-radius: 10px;
    width: fit-content;
    color: var(--wwhite);
    text-align: center;
    justify-content: center;
  }
  
  .close {
    top: 15%;
    right: 41%;
    color: var(--orange);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
  }
  
  .close:hover,
  .close:focus {
    color: var(--hover);
    text-decoration: none;
    cursor: pointer;
  }


/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0%{
        transform: translateX(-300px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(300px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scale {
    0%{
        transform: scale(0) rotate(1turn);
        opacity: .1;
    }

    50%{
        transform: scale(1.5);
    }

    70%{
        opacity: .7;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideH {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}