.name{
    color: #F1F2F4;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.occupation{
    color: #A3ABB2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.enhance{
    color: #C3C7CB;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.detail{
    color: #A3ABB2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}