<main class="mt-4 mb-4">
    <div class="container text-center mx-auto">
        <section class="row mt-5">
            <div class="col-sm-12 text-sm-center mb-3">
                <svg width="132" height="132">
                    <circle cx="66" cy="66" r="62" style="fill: #0C151D; stroke: #FFE071; stroke-width: 4px" />
                    <circle cx="66" cy="66" r="53" style="fill: #FFE071;" />
                </svg>
            </div>
            <div class="col-sm-12 text-sm-center">
                <h1 class="name">Saydenier Palacios</h1>
                <h2 class="occupation">Software Engineer</h2>
            </div>
        </section>
        <section class="row mt-5">
                <div class="col-sm-12 col-lg-4">
                    <div class="container-fluid text-center">
                        <p class="enhance">3</p>
                        <p class="detail">Años de experiencia</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="container-fluid text-center">
                        <p class="enhance">3</p>
                        <p class="detail">Años de experiencia</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="container-fluid text-center">
                        <p class="enhance">3</p>
                        <p class="detail">Años de experiencia</p>
                    </div>
                </div>
        </section>
        <section class="row mt-5">
            <div class="col-sm-12 col-lg-6 text-lg-end g-4">
                <button class="btn btn-primary" style="min-width: 161px;">
                    Download Resume
                </button>
            </div>
            <div class="col-sm-12 col-lg-6 text-lg-start g-4">
                <button class="btn btn-outline-primary" style="min-width: 161px;">
                    Contact
                </button>
            </div>
    </section>
    </div>
</main>